* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Helvetica Neue';
  font-size: 30;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

.zones {
  transition: 1s;
}
