/*
 * SINF2 PHP Lab - CSS Styles
 * 2015 (c) R. Scheurer (HEIA-FR)
 */
body {
  margin: 10px auto;
  max-width: 60em;
  font-family: sans-serif;
  color: #333333;
  background-color: #9ac;
}

#header, #nav, #nav a, #main, #footer {
  border-radius: 0.5em;
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}

#header, #footer {
  background: #F1F3F4;
  border-color: #335;
}

#header {
  font-size: 2em;
}

#header img {
  width: 50px;
  margin-right: 20px;
  float:left;
}

#nav {
  font-size: 1em;
  float: left; 
  width: 13em;
  margin-top: 0px;
  padding: 0;
  background-color: #dbe1f2;
  border-color: #335;
}
 
#nav ul {
  padding:0;
}
 
#nav li {
  list-style: none;
  margin: 0; 
}
 
#nav ul a {
  display: block;
  padding: .2em 0.4em;
  font-weight: bold;
  text-decoration: none;
}
 
#nav ul a {
  color: #000060; 
  background-color: #57aae7;
}
 
#nav ul a:hover,
#nav ul a:active  {
  color: white;
  border: 1px solid white;
}  
 
#main {
  background-color: white;
  margin-left: 14.5em;
  padding: 10px 20px 20px 20px;
  min-width: 16em;
  min-height: 11.3em;
}

#main h2 {
  border-bottom: 1px solid black;
}

#main h4.result-ok {
  color: green;
}
#main h4.result-error {
  color: red;
}

#main table.employee-list {
  border-collapse: collapse;
  border: 1px solid black;
}
#main table.employee-list tr:first-child {
  background-color: lightgray;
}
#main table.employee-list th,
#main table.employee-list td {
  border: 1px solid black;
  padding: 2px 3px;
}
